<div class="container">
  <div class="row">
      <div class="col-md-9">

          <div class="card shadow-effect">
              <img src= "https://images.pexels.com/photos/6272/wood-free-wooden-home.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
              <div class="card-body">
                  <small class="bg-light text-danger text-center"></small>
                  <small class="bg-light text-sucess text-center ml-2" > Featured </small>
                  <small class="bg-light text-info text-center ml-2"> Views </small>
                  <small class="bg-light text-warning text-center ml-2"> LAST UPDATED  </small>

                  <h1 class="mt-3 mb-3">TITOLO</h1>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad nesciunt aspernatur ipsum veritatis, dolor eum consequuntur ullam cum voluptatibus repellendus aliquid fugiat quaerat minus nemo dolore? Explicabo velit odit sit?</p>

              </div>
          </div>

          <app-coment-form></app-coment-form>
          <app-coment-list></app-coment-list>

      </div>

      <div class="col-md-3">

          <div>
              <app-post-card ></app-post-card>
          </div>
          <div>
            <app-post-card ></app-post-card>
        </div>
        <div>
          <app-post-card ></app-post-card>
      </div>
      <div>
        <app-post-card ></app-post-card>
    </div>
    <div>
      <app-post-card ></app-post-card>
  </div>





      </div>
  </div>

</div>
