

#logo {
    height: 48px;
  }
  
  body {
    background: #141414
  }
  .profile-page {
    /* padding: 5% 20%; */
    color: #fff;
  }
  
  .profile-page .btn {
    letter-spacing: 0.05rem;
  }
  
  .profile-page .action-buttons button {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  
  .profile-title {
    font-size: 64px;
  }
  
  .edit-icon {
    position: relative;
    left: 10%;
    top: -10%;
    background: black;
    padding: 10px;
    border-radius: 50%;
  }
  
 