<div class="card mb-5 mt-5 pb-5 shadow-effect">
<div class="card-body">
  <h4 class="mt-3 mb-3">
    Comments 15,142
  </h4>
  <div class="comment-box mt-3">
    <h4 class="mb-0">John</h4>

  <small class="text-danger">Late update 12/04/2023</small>
  <div class="mt-3 mb-3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis harum ullam quibusdam nulla excepturi, alias repudiandae illum! Hic voluptatibus molestias nemo quam aperiam asperiores error magnam, sit sapiente possimus quibusdam?

  </div>

  <a href="#" class="mt-1">Reply</a>
  <a href="#" class="mt-1 ml-3">View reply</a>
  <hr>
</div>
<div class="comment-box mt-3">
  <h4 class="mb-0">John</h4>

<small class="text-danger">Late update 12/04/2023</small>
<div class="mt-3 mb-3">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis harum ullam quibusdam nulla excepturi, alias repudiandae illum! Hic voluptatibus molestias nemo quam aperiam asperiores error magnam, sit sapiente possimus quibusdam?

</div>

<a href="#" class="mt-1">Reply</a>
<a href="#" class="mt-1 ml-3">View reply</a>
<hr>
</div>
<div class="comment-box mt-3">
  <h4 class="mb-0">John</h4>

<small class="text-danger">Late update 12/04/2023</small>
<div class="mt-3 mb-3">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis harum ullam quibusdam nulla excepturi, alias repudiandae illum! Hic voluptatibus molestias nemo quam aperiam asperiores error magnam, sit sapiente possimus quibusdam?

</div>

<a href="#" class="mt-1">Reply</a>
<a href="#" class="mt-1 ml-3">View reply</a>
<hr>
</div>
<div class="comment-box mt-3">
  <h4 class="mb-0">John</h4>

<small class="text-danger">Late update 12/04/2023</small>
<div class="mt-3 mb-3">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis harum ullam quibusdam nulla excepturi, alias repudiandae illum! Hic voluptatibus molestias nemo quam aperiam asperiores error magnam, sit sapiente possimus quibusdam?

</div>

<a href="#" class="mt-1">Reply</a>
<a href="#" class="mt-1 ml-3">View reply</a>
<hr>
</div>
</div>
</div>


