<div class="card">
  <img src="https://images.pexels.com/photos/6272/wood-free-wooden-home.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top">
<div class="card-body">
<small class="bg-light text-danger text-center">Desing</small>
<small class="bg-light text-succes text-center ">Feautures</small>
<small class="bg-light text-info text-center " >Views 100,988</small>
<h5 class="mt-1">Titolo post</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quos corporis quod nobis, consectetur commodi velit nulla ullam delectus cumque mollitia iure impedit dolorum eius recusandae maxime aspernatur minus. Itaque.</p>
<small class="bg-light text-warning text-center">UPDATED 09/20/2014</small>
</div>
</div>

